*{
    font-family: Microsoft YaHei;
}
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* 设置新闻轮播的span */
.title{
    
}
.title span{
    display: inline-block;
    font-size: 18px;
    margin: 5px;
}
.title-ul{
    border-top: 2px solid #be0108;
    padding: 10px;
    line-height: 200%;
    margin: 0;
}
.title-ul li{
    font-size: 14px;
    /* 文本不折行显示 */
    white-space: nowrap;
    overflow: hidden;
    /* 溢出显示... */
    text-overflow: ellipsis;
}
.title-ul-span{
    padding: 0 5px;
    font-size: 15px;
    color: #be0108;
    display: inline-block;
    /* border-right: 1px solid #f4f4f4; */
}

.news{
    height: 280px;
    width: 100%;
    overflow: hidden;
}
/* 设置 精品班次 教学资源等列表标题 */
.news-header h2{
    font-size: 20px;
    display: inline-block;
    border-left: 2px solid #be0108;
}
.news-body{
    border-top: 2px solid #be0108;
}
.news-body ul{
    padding: 10px;
    line-height: 200%;
}
.news-body ul li{
    font-size: 14px;
    /* 设置不换行 */
    /* word-break: keep-all; */
    /* 文本不折行显示 */
    white-space: nowrap;
    overflow: hidden;
    /* 溢出显示... */
    text-overflow: ellipsis;
}