#scroll {
    width: 100%;
    height: 208px;
    overflow: hidden;
    position: relative;
}

#scroll ul {
    position: absolute;
    left: 0px;
    right: 0px;
}

#scroll ul li {
    float: left;
    list-style: none;
    overflow: hidden;
    width: 320px;
    height: 208px;
}